@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=DM+Serif+Display:wght@400&display=swap');

body, .font-sans {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}
.font-serif, h1, h2, h3, .serif {
  font-family: 'DM Serif Display', serif;
}
